<html>
<head>
    <meta name="layout" content="main"/>
</head>

<body>

<div class="container">
    <h1>Anketní systém</h1>
    <ol>
        <li>Vytvoř anketu</li>
        <li>Nech hlasovat ostatní a sleduj průběh hlasování na grafu</li>
        <li>Sdílej ji na Facebooku</li>
    </ol>


    <div>
        You are logged in as <cst:loggedInUserInfo field="username"/>
    </div>
</div>
</body>
</html>